:root {
    /* cream colours; */
    --cream-1: #FFFCF4; 
    --cream-2: #f5ead1;
    --cream-3: #eadfcf;
    --cream-4: #ded4c0;
    --cream-5: #c9c1aa;
    
    /* greys*/ 
    --grey-1: #b6b3b3;
    --grey-2: #8e8c8c;
    --grey-3: #727272;
    --grey-4: #5D5D5D;
    --black: #111111;

    /* sepctrum of greens */
    --green-1: #c7e337;
    --green-2: #90af0b;
    --green-3: #7d9020;
    --green-4: #657910;
    --green-5: #546706;
    --green-6: #3d4a05;

    /* sale colour*/
    --sale-colour: #FF7E1B;
 
    /* Background colors*/
    --background-gradient: linear-gradient(1deg, #000000b0, transparent), radial-gradient(circle at 50% 50%, #d1ea3d, #94e514, #4fbf0d, #199708, #046e11, #014319, #00170e);
    --background-main: var(--cream-1);
    --background-nav: linear-gradient(180deg, rgba(0,0,0,0.9598389526709121) 0%, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.6) 40%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0.20073531121432953) 80%, rgba(0,0,0,0) 100%);

    /* Button Colors */
    --button-primary: linear-gradient(180deg, #1fa228, #36a927, #47af27, #57b626, #66bd25, #75c325, #83ca24, #91d024);
    --button-primary_hover: linear-gradient(0deg, #25be2f, #3fc42e, #53ca2c, #64d02b, #74d62a, #83dc29, #92e128, #a1e728);
    --button-secondary: linear-gradient(180deg, #1b8922, #2d8f21, #3c9421, #499a20, #569f1f, #62a41f, #6eaa1e, #7aaf1e);
    --button--secondary-hover: linear-gradient(0deg, #1b8922, #2d8f21, #3c9421, #499a20, #569f1f, #62a41f, #6eaa1e, #7aaf1e);
 
    /* typorgraphy color*/
    --color-text-light: var(--cream-2);   
    --color-text-medium: var(--grey-2);
    --color-text-dark: var(--grey-4);
    --color-text-heading: var(--cream);
    --color-text-subtle: var(--cream); 
    /* --color-link: var(--color-primary);
    --color-link-visited: var(--color-primary-dark); */

}

.logo {
    fill: var(--cream-2);
}

.light_text {
    color: var(--color-text-light)
}

.dark_text {
    color: var(--grey-4);
}

.body-text {
    color: var(--cream-5);
}

.footer-type {
    color: var(--grey-4)
}

.navigation > * {
    color: var(--color-text-light);
}


