.btn {
    text-decoration: none;
    padding: var(--space-sm) var(--space-md);
    border-radius: 1rem;
    font-size: var(--text-md);
    width: 8rem;
    align-self: inherit;
}

.btn_primary1 {
    /* background: var(--green-2); */
    background: linear-gradient(180deg, rgba(147,195,34,1) 0%, rgba(82,253,45,1) 100%);
    color: var(--cream-2);
}

.sale_button {
    position: relative;
    top: 8rem;
    right: -16rem;
    background: var(--sale-colour);
    color: var(--cream-2);
    font-size: var(--text-lg);
    text-decoration: none;
    padding: var(--space-sm) var(--space-lg);
    border-radius: 0.8rem;
    box-shadow: -7px 0px 10px 2px rgb(0 0 0 / 20%);
}




