/* .btn-primary {
    background: var(--green-2);
    color: var(--white);
    text-decoration: none;
    padding: var(--space-md) var(--space-lg);
    border-radius: 0.4rem;

} */

.sale_button {
    position: relative;
    top: -25rem;
    right: -16rem;
    background: var(--sale-colour);
    color: var(--cream-2);
    font-size: var(--text-lg);
    text-decoration: none;
    padding: var(--space-sm) var(--space-lg);
    border-radius: 0.8rem;
    box-shadow: -7px 0px 10px 2px rgb(0 0 0 / 20%);
}

.image_container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    width: 100%;
    margin-top: 2rem;
    box-shadow: 0px 0px 14px 2px rgb(0 0 0 / 20%);
}

