.btn {
    text-decoration: none;
    padding: var(--space-sm) var(--space-md);
    border-radius: 1rem;
    font-size: var(--text-sm);
    width: auto;
    align-self: inherit;
    box-shadow: 0px 0px 14px 2px rgb(0 0 0 / 20%) ;
}

.btn_primary1 {
    /* background: var(--green-2); */
    background: var(--button-primary);
    color: var(--cream-2);
}

.btn_primary1:hover {
    background: var(--button-primary_hover);
}

.btn_secondary1 {
    background: var(--button-secondary);
    color: var(--cream-2);
}

.btn_secondary1:hover {
    background: var(--button--secondary-hover);
}

.sale_button {
    position: absolute;
    top: 10rem;
    right: -1rem;
    background: var(--sale-colour);
    color: var(--cream-2);
    font-size: var(--text-xxl);
    text-decoration: none;
    padding: 2rem 4rem;
    border-radius: 0.8rem;
    box-shadow: -7px 0px 10px 2px rgb(0 0 0 / 20%);
    z-index: 1;
}

input[type=text] {
    width: auto;
    margin-bottom: 20px;
    padding: 16px;
    border:  1px solid var(--grey-2);
    border-radius: 0.5rem;
    font-family: var(--font-primary); 
    color: var(--grey-1);
}

.search_container input {
    margin-bottom: 0;
}

label {
    margin-bottom: 10px;
    font-family: var(--font-primary);
    color: var(--cream-2);
    display: block;
    font-weight: 200;
}

form {
    display: flex;
    padding: 3px;
}

