
.series_right_upper {
    background-image: var(--background-gradient);
    background-position: right;
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    padding-top: 13rem;
    padding-right: 10rem;
    padding-left: 18rem;
    padding-bottom: 10rem;
}

.series_image_left {
    position: relative;
    background-color: rgb(255 255 255 / 9%);
    border-radius: 2rem;
    height: fit-content;
    width: 45%;
    box-shadow: 0px 0px 14px 2px rgb(0 0 0 / 20%);
}

.series_brief_info_right {
    display: flex;
    align-content: right;
    flex-direction: column;
    width: 45%;
    position: relative;
    height: auto;
    text-align: right;
    align-items: flex-end;
}

.compare {
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: inherit;
    color: var(--cream-2);
    position: relative;
    margin-left: 0;
    align-self: inherit;
    padding: 0 0 1rem 0;
}

.compare svg {
    fill: var(--cream-2);
    color: var(--cream-2);
}

.product_front_image {
    position: relative;
    height: 66vh;
    padding-top: 0rem;
    padding-left: 7rem;
    margin: 2rem;
}

.product_back_image {
    position: absolute;
    height: 51vh;
    padding-top: 2rem;
    padding-right: 9rem;
    margin: 2rem;
}

.series_lower {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--cream-1);
    height: 50vh;
    height: auto;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.series_range_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(105 105 105 / 10%);
    border-radius: 2rem;
    box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 20%);
    margin-left: 12rem;
    margin-right: 13rem;
    width: 80%;
    overflow-x: scroll;
}

.gallery_list {
    display: flex;
    flex-direction: row;
    width: auto;
    white-space: nowrap;
}

.series_range_container img {
    height: 40vh;
    margin-bottom: 2rem;
}

.series_guitar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    padding: 4rem;
}

.series_title_container {
    display: flex;
    justify-content: center;
    color: var(--grey-4);
    margin-bottom: 5rem;
    margin-top: 5rem;
}


/* Left aligned guitar product content */

.series_left_upper {
    background-image    : var(--background-gradient);
    background-position: right;
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    padding-top: 13rem;
    padding-bottom: 13rem;
    padding-left: 18rem;
    padding-right: 10rem;
    justify-content: space-between;
}


.series_image_right {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    height: fit-content;
    width: 45%;
    box-shadow: 0px 0px 14px 2px rgb(0 0 0 / 20%);
}


.series_brief_info_left {
    display: flex;
    align-content: baseline;
    flex-direction: column;
    width: 45%;
    position: relative;
    height: auto;
    text-align: right;
    align-items: flex-start;
}

@media screen and (max-width: 1350px) {
    .series_brief_info_left {
        align-self: center;
        padding: 2rem;
        align-items: center;
    }

    .series_right_upper {
        display: flex;
        flex-direction: column;
        padding: 13rem 0 10rem 0;
    }
    .series_image_left {
        align-self: center;
        width: auto;
        padding: 2rem;
    }
    .series_brief_info_right {
        align-self: center;
        padding: 2rem;
        align-items: center;
    }

    .series_image_right {
        align-self: center;
        width: auto;
        padding: 2rem;
    }

    .series_left_upper {
        display: flex;
        flex-direction: column-reverse;
        padding: 13rem 0 10rem 0;
    }
}

@media screen and (max-width: 1100px) {
    .series_brief_info_left {
        width: 60%;
        text-align: none;
    }

    .series_lower {
        align-content: center;
    }

    .series_brief_info_right {
        width: 60%;
        text-align: none;
    }
}

@media screen and (max-width: 800px) {
    .series_brief_info_left {
        width: 80%;
        text-align: none;
    }

    .series_brief_info_right {
        width: 80%;
        text-align: none;
    }
}

@media screen and (max-width: 750px){
    .series_range_container {
        width: 90%;
    }
}

@media screen and (max-width: 450px){
    .series_range_container {
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
}
