body {
    overflow-x: hidden ;
}

/* .menu_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 92vh;
    left: 0px;
    width: 20%;
    color: var(--cream-2);
    transition: transform 0.5s ease-in;

} */

.main_menu {
    position: relative;
}

.menu_type {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 92vh;
    left: 0px;
    width: 20rem;
    color: var(--cream-2);
    /* transition: transform 0.5s ease-in; */


}

.menu_content a {
    display: block;
    padding: 1rem;
    margin-left: 0.5rem;
    /* opacity: 0; */
}

.menu_active {
    transform: translateX(100%);
}

.burger {
    display: none;
    cursor: pointer;
}

.burger svg {
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(0px,-24px);
}



/* First screen size NAV adjustment */

@media screen and (max-width: 1500px){
    

    .search_container input {
        display: none;
    }

    /* .nav_home h1 {
        font-size: var(--text-xxl);
    } */
}


/* Second screen size NAV adjustment */

@media screen and (max-width: 1100px) {
    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav_nav_icons {
        justify-content: space-between;
    }

    .burger {
        display: block;
        padding-left: 20px;
    }

    .menu_type {
        position: absolute;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        /* transition: transform 0.5s ease-in; */
    }

    .cluster {
        margin: 0;
    }
}

@media screen and (max-width: 595px) {
    .nav_home h1 {
        text-align: center;
    }
}

@media screen and (max-width: 389px) {
    .nav_nav_icons .cluster {
        padding: 0;
    
    }

    .bottom_footer_icons > * {
        padding: 1rem;
    }
}