.product_upper {
    background-image: var(--background-gradient);
    background-position: right;
    background-size: cover;
    display: flex;
    flex-wrap: flex;
    flex-direction: row;
    height: auto;
    position: relative;
    padding-left: 15rem;
    padding-right: 6rem;
    padding-top: 13rem;
    padding-bottom: 13rem;
    justify-content: space-between;
}

.product_img_container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    height: fit-content;
    width: 55%;
    box-shadow: 0px 0px 14px 2px rgb(0 0 0 / 20%) ;
    align-self: center;
}

.detail_img_container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1.5rem;
    align-items: center;
    align-content: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    position: relative;
    height: 12vh;
    padding: 1rem;
    margin: 1rem;
    overflow-x: scroll;
}

.detail_img_container img {
    height: 100%;
    width: auto;
    padding: 3px
}

.product_info_container {
    display: inline-flex;
    flex-direction: column;
    width: 45%;
    height: auto;
    position: relative;
    text-align: right;
    align-items: flex-end;
}

.product_info_container h2 {
    padding: 0;
    margin: 0;
}

.product_info_container > * {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.share_links {
    display: flex;
    flex-direction: row;
    color: var(--color-text-light);
    fill: var(--cream-2);
    height: 3rem;
    width: auto;
    padding: 11px;
    align-items: center;
    font-size: var(--text-md);
}

.product_detail_container {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 1rem;
    padding: 0;
    margin-top: 2rem;
    width: 88%;
    box-shadow: 0px 0px 14px 2px rgb(0 0 0 / 20%) ;
    border-color: var(--cream-2);

}

.product_detail_container div {
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--grey-1);
}

.details_title {
    background-color: rgb(59, 130, 29);
    color: var(--cream-2);
    text-align: start;
    justify-content: space-between;
    height: 1.2rem;
    width: auto;
    margin: 0;
    padding: 1rem;
    border-color: var(--cream-2);
}
.details_list {
    display: flex;
    flex-direction: row;
    text-align: start;
    background-color: var(--cream-1);
    color: var(--grey-4);
    padding: 3px;
}

.details_list li {
    padding: 7px;
}

.product_lower .series_title_container {
    margin-top: 0;
}

.product_lower .hl {
    margin-top: 5rem;
}

.product_img_container .product_front_image {
    height: 77vh;
}

.product_img_container .product_back_image {
    height: 63vh;
}


/* Media changes */

@media screen and (max-width: 1350px) {
    .product_upper {
        display: flex;
        flex-direction: column;
        padding: 13rem 0 10rem 0;
        align-items: center;
    }

    .product_img_container {
        width: 40%;
    }

    .product_detail_container {
        width: auto;
    }

    .product_info_container {
        align-items: center;
        padding-top: 5rem;
        width: 90%;
    }
}

@media screen and (max-width: 975px) {
    .product_img_container {
        width: 60%;
    }
}

@media screen and (max-width: 750px) {
    .product_img_container {
        width: 90%;
    }
}

@media screen and (max-width: 450px) {
    .product_img_container {
        width: 100%;
        border-radius: 0;
    }
}