
body {
    background-color: var(--background-main);
    margin: 0;
}

.logo {
    text-decoration: none;
    height: 50px;
    width: auto;
    padding: 5px;
}

/* .welcome {
    background: url(images/landingacoustic.png);
    background-repeat: no-repeat;
    position:  fixed;
} */

/* .featureseries {
    background: url(images/featureacoustic.png);
    background-repeat: no-repeat;
} */

.sitespecial {
    background-color: var(--background-gradient);
}