
body {
    background-color: var(--background-main);
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.logo {
    text-decoration: none;
    padding: 7px;
}

/* .welcome {
    background: url(images/landingacoustic.png);
    background-repeat: no-repeat;
    position:  fixed;
} */

/* .featureseries {
    background: url(images/featureacoustic.png);
    background-repeat: no-repeat;
} */

.sitespecial {
    background-color: var(--background-gradient);
}