@import url("https://use.typekit.net/kgy3gan.css");

:root {

    --font-primary: helvetica, serif;
    --font-secondary: "span", serif; 

    /* set base values */
    --text-base-size: 1.2em;
    --text-scale-ratio: 1.2;


    /* type scale */
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

    /* Spacing */
    --baseline:24px;

    /* Spacing values */
    --space-sm:calc(var(--baseline)/2);
    --space-md:var(--baseline);
    --space-lg:calc(var(--baseline)*2);
    --space-xl:calc(var(--baseline)*3);

    /*line-height*/
    --heading-line-height:1.2;
    --body-line-height:1.4;

    
}

@media screen and (max-width: 1350px){
    :root {
        --text-scale-ratio: 1.15;
    }
}

@media screen and (max-width: 1100px){
    :root {
        --text-scale-ratio: 1.1;
    }
}

@media screen and (max-width: 750px){
    :root {
        --text-scale-ratio: 1;
    }
}

body{
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    color: var(--black);
    background: var(--medium-cream);
}

h1 {
    font-family: "span", serif;
    font-size: var(--text-xxxl);
    font-weight: 500;
    font-style: normal;
    color: var(--cream-2);
    text-align: left;
    letter-spacing: 3px;
}

h2 {
    font-family: "span", serif;
    font-size: var(--text-xl);
    font-weight: 400;
    font-style: normal;
    color: var(--cream-2);
    margin-top: var(--space-lg);
}

p {
    font-family: helvetica, sans-serif;
    font-weight: 80;
}

.text-mobile-light {
    font-size: var(--text-md);
    color: var(--color-text-light)
}

.paragraph_small {
    font-size: var(--text-sm);
    text-align: center;
}

.paragraph_medium {
    font-size: var(--text-md);
    letter-spacing: 0.5px;
    line-height: 2rem;
}

.paragraph_large {
    font-size: var(--text-lg);
    text-align: left;
}

.paragraph_light {
    color: var(--color-text-light); 
}

.menu_content li {
    font-family: "span", serif;
    font-size: var(--text-lg);
}

.welcome_content h1 {
    font-size: var(--text-xxxl);
    text-transform: uppercase;
    font-family: helvetica, sans-serif;
}

.menu_type {
    font-size: 1rem;
}

.product_para {
    font-family: var(--font-primary);
    font-size: var(--text-md);
    color: var(--cream-2);
    text-align: justify;
}

.product_title {
    font-family: var(--font-secondary);
    font-size: var(--text-xxxl);
    color: var(--cream-2);
    letter-spacing: 1px;
    font-weight: 400;
    margin: 2rem 0 2rem 0;;
    text-align: left;
}

.model_large {
    font-family: var(--font-primary);
    font-size: var(--text-xxl);
    color: var(--cream-2);
}

.model_small {
    font-family: var(--font-primary);
    font-size: var(--text-md);
    color: var(--grey-4);
}

.price_large {
    font-family: var(--font-secondary);
    font-size: var(--text-xxxl);
}